.profile-container {
  flex: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
   margin-left: 70px;
  padding-bottom: 2rem;
}

.profile-header {
  position: relative;
  width: 100%;
  height: 180px;
}

.profile-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-bottom: 1px solid #333;
}

.profile-avatar {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #1c1f26;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-body {
  margin-top: 60px;
  text-align: center;
  padding: 0 1rem;
}

.profile-body h2 {
  margin: 0;
  font-size: 1.5rem;
}

.profile-role {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.profile-bio {
  color: var(--text-color);
  font-size: 0.95rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.profile-detail-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  color: var(--text-color);
}

.detail-icon {
  color: #039f44;
  font-size: 1.2rem;
}
.online-dot {
  width: 18px;
  height: 18px;
  background: #00ff5a;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 3px solid #1c1f26;
}

.profile-handle {
  font-size: 0.85rem;
  color: #888;
  margin-top: -5px;
}

.profile-stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1.3rem 0;
}

.profile-stats div {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  text-align: center;
}

.profile-stats strong {
  font-size: 1.1rem;
}

.profile-actions {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background: #039f44;
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 12px;
  font-size: 0.9rem;
}

.btn-more {
  background: #222;
  border: none;
  color: #fff;
  padding: 0.7rem;
  border-radius: 12px;
}

.profile-highlights {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1.2rem;
}

.highlight-box {
  padding: 0.5rem 1rem;
  background: #1f222b;
  border-radius: 10px;
  font-size: 0.75rem;
  color: #ddd;
}

@media (max-width: 768px) {
    .profile-container {
  flex: 1;
  min-height: 100vh;
   margin-left: 0px;
   padding-bottom: 10rem;
}
}