/* Full layout wrapper */
.adminDash-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-top: 30px;
}

/* Main content area */
.adminDash-content {
  margin-left: 250px; /* sidebar width */
  padding: 20px;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* When sidebar is collapsed */
.adminDash-sidebar.collapsed ~ .adminDash-content {
  margin-left: 0px;
  width: calc(100% - 70px);
}
