:root {
  --bg: #ffffff;
  --card-bg: #f7f7f7;
  --text: #111;
}

.profile-setup-container {
  /* height: 100vh; */
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 420px;
  background: var(--card-bg);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.photo-area {
  text-align: center;
  margin-bottom: 25px;
}

.photo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  border: 3px solid #0d6329;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  font-size: 45px;
  opacity: 0.5;
}

.upload-btn,
.avatar-btn {
  margin-top: 10px;
  background: #0d6329;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.upload-btn input {
  display: none;
}

.avatar-btn {
  background: #333;
  margin-left: 10px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  outline: none;
  margin-top: 5px;
  font-size: 15px;
  background: #fff;
}

textarea {
  resize: none;
  height: 70px;
}

.color-picker {
  width: 50px;
  height: 35px;
  border: none;
  background: none;
  cursor: pointer;
}

.preview-card {
  display: flex;
  gap: 12px;
  border: 2px solid #0d6329;
  padding: 12px;
  border-radius: 15px;
  margin: 20px 0;
  background: #fff;
}

.preview-card img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.username {
  opacity: 0.7;
  font-size: 12px;
}

.save-btn {
  width: 100%;
  padding: 12px;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  opacity: 0.9;
}
/* SUCCESS POPUP */
.success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.success-modal {
  background: #fff;
  padding: 30px 35px;
  border-radius: 20px;
  text-align: center;
  width: 280px;
}

.check-circle {
  width: 70px;
  height: 70px;
  background: #0d6329;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: auto;
  margin-bottom: 15px;
}

.success-modal h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.success-modal p {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.7;
}
