.contact-list-wrapper {
  /* max-width: 600px; */
  background: var(--bg-color);
  padding: 20px;
  margin-left: 70px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.contact-actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  background-color: #1b5e20;
  transition: 0.2s;
}

.btn:hover {
  background-color: #145214;
}

.contact-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #f1f1f1;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
}

.contact-search input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
}

.contact-item:hover {
  background: var(--secondary-bg);
}

.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1b5e20;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

.contact-info h4 {
  margin: 0;
  font-size: 1rem;
  color: var(--text-color);
}

.contact-info p {
  margin: 0;
  font-size: 0.8rem;
  color: #777;
}

.no-contacts {
  text-align: center;
  color: #777;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .contact-list-wrapper {
  /* max-width: 600px; */
  background: var(--bg-color);
  padding: 20px;
  margin-left: 0px;
 padding-bottom: 10rem;
}
}